.site-body{
    margin-top: 30px;
    
}

h3 {
    color: var(--primary-color);
}

.cv_module {
    margin-bottom: 50px;
}

.body-wrapper {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px 50px;
}

.body-header {
    box-shadow: 0px 20px 0px rgb(255, 255, 255, 0.7);
}
.header__row {
    height: 300px;
    align-items: center;
}

.body-header__avarta {
    width: 360px;
    height: 240px;
}

.body-header__avarta img{
    height: 100%;
}

.body-header__contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact__info {
    margin-bottom: 7px;
}

.user-flaticon {
    width: 18px;
    background: blue;
}

.contact__info img{
    margin-right: 5px;
    width: 18px;
}

.icon {
    color: var(--primary-color);
    margin-right: 10px;
}

.contact__info {
    display: flex;
}

.body-header__myname {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
}

.body-header_myjob {
    font-size: 1.4rem;
}

/* LEFT */

.skill-item {
    margin-bottom: 10px;
}

.skill-item__name {
    display: block;
    margin-bottom: 10px;
}

.skill-item__level {
    width: 80%;
    height: 5px;
    position: relative;
    background: rgba(42, 84, 168, 0.4);
}

.level__real {
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: var(--primary-color);
}

.chinese > .level__real {
    width: 80%;
}

.english > .level__real {
    width: 40%;
}

.computer > .level__real {
    width: 70%;
}

.favourite__item img {
    width: 18px;
}

/* RIGHT */

.favourite__item {
    margin-bottom: 10px;
}

.time-line__date {
    display: flex;
    justify-items: center;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-size: 1.4rem;
}

.item-time-line {
    display: flex;
}

.time-line__date::before {
    content: "";
    display: inline-block;
    width: 60%;
    border-bottom: 1px solid rgba(42, 84, 168, 0.3);
}

.time-line__start {
    padding-left: 0px 0px 0px 10px;
}

.time-line__end::before {
    content: "-";
    display: inline-block;
    padding: 0 5px;
}

.info__address {
    font-weight: bold;
}

.info__detail {
    color: var(--primary-color);
}



