.site-header{
    background-color: var(--primary-color);
}

.myrow {
    align-items: center;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.list li{
    display: inline-block;
}

.my-list {
    display: flex;
    justify-content: flex-end;
}

.my-list .list-item {
    margin-left: 7px;
}

.user-info__avarta {
    width: 36px;
    height: 36px;
    text-align: center;
}

.user-info__avarta > img {
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
}

.item-link {
    display: block;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 10px;
    color: #fff;
}

.item-link:hover{
    background-color: aquamarine;
    color: #000;
}

