*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}

.hero{
	height: 100vh;
	width: 300%;
	background-image: url("Car_Animation_Img/sky.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: repeat-x;
	position: relative;
	animation: hero 30s linear infinite;
}

@keyframes hero {
	100% {
		transform: translateX(-200px);
	}
}

.fly{
	width: 500%;
	height: 20px;
	background-image: url("Car_Animation_Img/birds.gif");
	position: absolute;
	top: 150px;
	animation: fly 30s linear infinite;
	z-index: 999;
}

@keyframes fly {
	100% {
		transform: translateX(-100px);
	}
}

.highway{
	width: 500%;
	height: 300px;
	background-image: url("Car_Animation_Img/road.jpg");
	background-repeat: repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	animation: highway 5s linear infinite;
	z-index: 1;
}

@keyframes highway {
	100% {
		transform: translateX(-3000px);
	}
}

.city{
	width: 500%;
	height: 200px;
	background-image: url("Car_Animation_Img/city.png");
	background-repeat: repeat-x;
	position: absolute;
	bottom: 300px;
	left: 0;
	right: 0;
	animation: city 10s linear infinite;
	z-index: 2;
}

@keyframes city {
	100% {
		transform: translateX(-800px);
	}
}

.car{
	width: 300px;
	height: 100px;
	background-image: url("Car_Animation_Img/car.png");
	background-size: cover;
	position: absolute;
	bottom: 150px;
	left: 10%;
	z-index:999;
	animation: car 15s linear infinite;
}

@keyframes car {
	30% {
		bottom: 88px;
		left: 15%;
	}

	50% {
		bottom: 128px;
		left: 25%;
	}

	60% {
		bottom: 88px;
		left: 25%;
	}

	70% {
		bottom: 158px;
		left: 20%;
	}

	80% {
		bottom: 150px;
		left: 16%;
	}

	90% {
		bottom: 150px;
		left: 13%;
	}

	90% {
		bottom: 150px;
		left: 15%;
	}
}
/*
@keyframes car {
	30% {
		transform: translateX(-1200px);
		transform: translateY(-20px);
	}
	
	50% {
		transform: translateX(-400px);
		transform: translateY(20px);
	}
	
	60% {
		transform: translateX(1200px);
		transform: translateY(-20px);
	}
	
	60% {
		transform: translateX(-200px);
		transform: translateY(20px);
	}
}
*/
.car .front-wheel{
	width: 52px;
	height: 52px;
	background-image: url("Car_Animation_Img/wheel.png");
	background-size: cover;
	position: absolute;
	bottom: -20px;
	left: 28px;
	z-index: 2;
	animation: wheel 30s linear infinite;
}

.car .back-wheel{
	width: 52px;
	height: 52px;
	background-image: url("Car_Animation_Img/wheel.png");
	background-size: cover;
	position: absolute;
	bottom: -20px;
	left: 212px;
	z-index: 2;
	animation: wheel 30s linear infinite;
}

@keyframes wheel{
	100% {
		transform: rotate(100000deg);
	}
}

.car .thang{
	width: 24px;
	height: 24px;
	background-image: url("Car_Animation_Img/thang.png");
	background-size: cover;
	position: absolute;
	bottom: 59px;
	left: 83px;
	z-index: 2;
	animation: avarta 2s linear infinite;
	border-radius: 50%;
}

.car .anh{
	width: 24px;
	height: 24px;
	background-image: url("Car_Animation_Img/anh.png");
	background-size: cover;
	position: absolute;
	bottom: 59px;
	left: 137px;
	z-index: 2;
	animation: avarta 2s linear infinite;
	border-radius: 50%;
}

@keyframes avarta {
	50% {
		transform: scale(2.5);
	}
	
	100% {
		transform: scale(1);
	}
}

iframe{
	opacity: 1;
}





