h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    font-size: 3rem;
    margin: 18px 0px;
}

h2 {
    padding: 0;
    font-size: 2.5rem;
    margin: 15px 0px;
}

h3 {
    padding: 0;
    font-size: 2rem;
    margin: 12px 0px;
}

h4 {
    padding: 0;
    font-size: 1.8rem;
    margin: 9px 0px;
}

h5 {
    padding: 0;
    font-size: 1.6rem;
    margin: 6px 0px;
}

h6 {
    padding: 0;
    font-size: 1.4rem;
    margin: 3px 0px;
}

.input-type {
    outline: none;
    border: 1px solid black;
    box-shadow: none;
    width: 120px;
    border-radius: 4px;
    padding: 5px;
    padding-left: 7px;
    transition: all 0.3s ease;
}

.input-type:focus {
    box-shadow: none;
    box-shadow: 0px 0px 4px blue inset;
}

.button-type {
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: none;
    padding: 5px 15px;
}

.button-type:hover {
    background-color: #fff;
    box-shadow: 0px 0px 4px blue inset;
}